POSTGRES_DB=drhome
POSTGRES_USER=drhome
POSTGRES_PASSWORD=CHANGE_THIS_TO_A_LONG_RANDOM_PASSWORD

API_PORT=3000
NODE_ENV=production
SESSION_SECRET=CHANGE_THIS_TO_A_VERY_LONG_RANDOM_SECRET
APP_ORIGIN=https://app.drhome.ae
COOKIE_NAME=drhome_sid
COOKIE_SECURE=true
TRUST_PROXY=1

SEED_DEMO=true
DEMO_EMAIL=demo@drhome.ae
DEMO_PASSWORD=ChangeMe123!
